<?xml version='1.0' encoding='utf-8'?>
<robot name="robot">
<link name="camera">
    <inertial>
        <origin xyz="0.0 -1.167355140468276e-13 0.0030581760585232944" rpy="0.0 -0.0 0.0" />
        <mass value="0.02761393779133511" />
        <inertia ixx="1.4229288925050702e-06" iyy="1.422928887528528e-06" izz="2.5938721415465975e-06" ixy="1.394440118934782e-21" iyz="-1.7954610095097166e-18" ixz="0.0" />
    </inertial>
    <visual name="camera_visual">
        <origin xyz="-0.05 0.0 -0.1" rpy="-3.141592653589793 -1.5707963267948966 0" />
        <geometry>
            <mesh filename="file://$(find new_pkg)/meshes/camera.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="black">
        </material>
    </visual>
    <collision name="camera_collision">
        <origin xyz="-0.05 0.0 -0.1" rpy="-3.141592653589793 -1.5707963267948966 0" />
        <geometry>
            <mesh filename="file://$(find new_pkg)/meshes/camera.stl" scale="0.001 0.001 0.001" />
        </geometry>
    </collision>
</link>

<gazebo reference="camera">
    <material>Gazebo/Black</material>
    <sensor name="camera" type="camera">
        <pose> 0 0 0 0 0 0 </pose>
        <visualize>true</visualize>
        <update_rate>10</update_rate>
        <camera>
            <horizontal_fov>1.089</horizontal_fov>
            <image>
                <format>R8G8B8</format>
                <width>640</width>
                <height>480</height>
            </image>
            <clip>
                <near>0.05</near>
                <far>8.0</far>
            </clip>
        </camera>
        <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
            <frame_name>camera</frame_name>
        </plugin>
    </sensor>
</gazebo>
</robot>